.sizefont{
    font-size: 20px;
    margin-right: 10px;
}
.sizefont:hover{
    text-decoration: underline;
    color: #0bc6d4;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
}

.Title{
    font-size: 1.5rem;
    font-weight: bold;
    color:#0bc6d4;
    text-transform: uppercase;
    /* margin-left: 13vw; */
}

.navbar-logo {
    height: 40px; /* Adjust height as needed */
    width: auto;  /* Maintain aspect ratio */
}


